In [4]:
from google.cloud import bigquery
client = bigquery.Client()

query = (
    """SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013`
    WHERE state = "TX" 
    LIMIT 100
    """
)
query_job = client.query(
    query,
    # Location must match that of the dataset(s) referenced in the query.
    location="US",
)  # API request - starts the query

for row in query_job:  # API request - fetches results
    # Row values can be accessed by field name or index
    assert row[0] == row.name == row["name"]
    print(row)

Row(('Frances',), {'name': 0})
Row(('Alice',), {'name': 0})
Row(('Beatrice',), {'name': 0})
Row(('Ella',), {'name': 0})
Row(('Gertrude',), {'name': 0})
Row(('Josephine',), {'name': 0})
Row(('Lula',), {'name': 0})
Row(('Blanche',), {'name': 0})
Row(('Marjorie',), {'name': 0})
Row(('Christine',), {'name': 0})
Row(('Margarita',), {'name': 0})
Row(('Alta',), {'name': 0})
Row(('Sara',), {'name': 0})
Row(('Naomi',), {'name': 0})
Row(('Sofia',), {'name': 0})
Row(('Andrea',), {'name': 0})
Row(('Delfina',), {'name': 0})
Row(('Dominga',), {'name': 0})
Row(('Elnora',), {'name': 0})
Row(('Adele',), {'name': 0})
Row(('Rafaela',), {'name': 0})
Row(('Dixie',), {'name': 0})
Row(('Luisa',), {'name': 0})
Row(('Bess',), {'name': 0})
Row(('Ernestine',), {'name': 0})
Row(('Lorine',), {'name': 0})
Row(('Patsy',), {'name': 0})
Row(('Cecelia',), {'name': 0})
Row(('Enriqueta',), {'name': 0})
Row(('Lucinda',), {'name': 0})
Row(('Alyce',), {'name': 0})
Row(('Oneta',), {'name': 0})
Row(('Apolonia',), {'name': 0})
Row(('Gloria',), {'name': 0})
Row(('Rhoda',), {'name': 0})
Row(('Buna',), {'name': 0})
Row(('Maye',), {'name': 0})
Row(('Pansy',), {'name': 0})
Row(('Gladys',), {'name': 0})
Row(('Maria',), {'name': 0})
Row(('Helen',), {'name': 0})
Row(('Velma',), {'name': 0})
Row(('Clara',), {'name': 0})
Row(('Anna',), {'name': 0})
Row(('Evelyn',), {'name': 0})
Row(('Rosa',), {'name': 0})
Row(('Mae',), {'name': 0})
Row(('Bernice',), {'name': 0})
Row(('Stella',), {'name': 0})
Row(('Vivian',), {'name': 0})
Row(('Mable',), {'name': 0})
Row(('Maggie',), {'name': 0})
Row(('Betty',), {'name': 0})
Row(('Guadalupe',), {'name': 0})
Row(('Lorene',), {'name': 0})
Row(('Susie',), {'name': 0})
Row(('Sadie',), {'name': 0})
Row(('Erma',), {'name': 0})
Row(('Verna',), {'name': 0})
Row(('Amelia',), {'name': 0})
Row(('Estelle',), {'name': 0})
Row(('Nell',), {'name': 0})
Row(('Margie',), {'name': 0})
Row(('Celia',), {'name': 0})
Row(('Lessie',), {'name': 0})
Row(('Eloise',), {'name': 0})
Row(('Millie',), {'name': 0})
Row(('Olga',), {'name': 0})
Row(('Letha',), {'name': 0})
Row(('Rachel',), {'name': 0})
Row(('Luz',), {'name': 0})
Row(('Gussie',), {'name': 0})
Row(('Sylvia',), {'name': 0})
Row(('Aline',), {'name': 0})
Row(('Barbara',), {'name': 0})
Row(('Iris',), {'name': 0})
Row(('Leila',), {'name': 0})
Row(('Mozelle',), {'name': 0})
Row(('Simona',), {'name': 0})
Row(('Catalina',), {'name': 0})
Row(('Hester',), {'name': 0})
Row(('Willia',), {'name': 0})
Row(('Allene',), {'name': 0})
Row(('Avis',), {'name': 0})
Row(('George',), {'name': 0})
Row(('Isabella',), {'name': 0})
Row(('Polly',), {'name': 0})
Row(('Syble',), {'name': 0})
Row(('Teodora',), {'name': 0})
Row(('Lennie',), {'name': 0})
Row(('Ricarda',), {'name': 0})
Row(('Valerie',), {'name': 0})
Row(('Robert',), {'name': 0})
Row(('Willie',), {'name': 0})
Row(('Fred',), {'name': 0})
Row(('Raymond',), {'name': 0})
Row(('Richard',), {'name': 0})
Row(('Sam',), {'name': 0})
Row(('Ernest',), {'name': 0})
Row(('Leroy',), {'name': 0})