## Get users associated with a given repo

In [1]:
import pandas as pd
import numpy as np
import helper as h

from google.cloud import bigquery
client = bigquery.Client()

from github3 import login
password = h.get_gh_credentials()
gh = login('bps10', password=password)

In [99]:
def get_contributors(gh, owner, repo):
    repo = gh.repository('numpy', 'numpy')
    return [[contributor.login, contributor.contributions] for contributor in repo.contributors()]

In [100]:
contrib = get_contributors(gh, 'numpy', 'numpy')

In [109]:
repo = gh.repository('numpy', 'numpy')

In [56]:
user = gh.user('bps10')

In [60]:
user_events = user.events(number=-1, public=True)

In [62]:
for event in user_events:
    print(event.type)

PushEvent
PushEvent
CreateEvent
CreateEvent
PushEvent
PushEvent
PushEvent
PushEvent
PublicEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
CreateEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
PushEvent
MemberEvent
PushEvent
PushEvent
PushEvent
MemberEvent
PushEvent

In [86]:
user1='bps10'
user2='hadley'
# Set use_legacy_sql to True to use legacy SQL syntax.
job_config = bigquery.QueryJobConfig()
job_config.use_legacy_sql = True

query = (
"""SELECT  
  actor.login,
  COUNT(type) as event_count, 
  MAX(created_at) as last_event, 
  MIN(created_at) as first_event,
  SUM(CASE WHEN type = 'CommitCommentEvent' then 1 else 0 end) as CommitCommentEvent_count,
  SUM(CASE WHEN type = 'CreateEvent' then 1 else 0 end) as CreateEvent_count,
  SUM(CASE WHEN type = 'DeleteEvent' then 1 else 0 end) as DeleteEvent_count,
  SUM(CASE WHEN type = 'ForkEvent' then 1 else 0 end) as ForkEvent_count,
  SUM(CASE WHEN type = 'GollumEvent' then 1 else 0 end) as GollumEvent_count,
  SUM(CASE WHEN type = 'IssueCommentEvent' then 1 else 0 end) as IssueCommentEvent_count,
  SUM(CASE WHEN type = 'IssuesEvent' then 1 else 0 end) as IssuesEvent_count,
  SUM(CASE WHEN type = 'MemberEvent' then 1 else 0 end) as MemberEvent_count,
  SUM(CASE WHEN type = 'PublicEvent' then 1 else 0 end) as PublicEvent_count,
  SUM(CASE WHEN type = 'PullRequestEvent' then 1 else 0 end) as PullRequestEvent_count,
  SUM(CASE WHEN type = 'PullRequestReviewCommentEvent' then 1 else 0 end) as PullRequestReviewCommentEvent_count,
  SUM(CASE WHEN type = 'PushEvent' then 1 else 0 end) as PushEvent_count,
  SUM(CASE WHEN type = 'ReleaseEvent' then 1 else 0 end) as ReleaseEvent_count,
  SUM(CASE WHEN type = 'WatchEvent' then 1 else 0 end) as WatchEvent_count,

  FROM 
  [githubarchive:year.2018]
WHERE (actor.login = '""" + user1 + """' OR actor.login = '""" + user2 + """' AND public)
GROUP by actor.login;

"""
    
)

#results_df = gbq.read_gbq(query_job, project_id=project_id, private_key='path_to_my.json')

df = client.query(query, location="US", job_config=job_config).to_dataframe()
df

,actor_login,event_count,last_event,first_event,CommitCommentEvent_count,CreateEvent_count,DeleteEvent_count,ForkEvent_count,GollumEvent_count,IssueCommentEvent_count,IssuesEvent_count,MemberEvent_count,PublicEvent_count,PullRequestEvent_count,PullRequestReviewCommentEvent_count,PushEvent_count,ReleaseEvent_count,WatchEvent_count
0,bps10,163,2019-01-04 21:58:39+00:00,2018-02-06 21:26:44+00:00,0,13,0,3,9,0,0,2,1,25,0,109,0,1
1,hadley,10734,2019-01-05 23:18:47+00:00,2018-02-01 04:49:54+00:00,50,155,58,8,0,3770,2088,11,1,988,1134,2441,30,0

In [87]:
query

"SELECT  \n  actor.login,\n  COUNT(type) as event_count, \n  MAX(created_at) as last_event, \n  MIN(created_at) as first_event,\n  SUM(CASE WHEN type = 'CommitCommentEvent' then 1 else 0 end) as CommitCommentEvent_count,\n  SUM(CASE WHEN type = 'CreateEvent' then 1 else 0 end) as CreateEvent_count,\n  SUM(CASE WHEN type = 'DeleteEvent' then 1 else 0 end) as DeleteEvent_count,\n  SUM(CASE WHEN type = 'ForkEvent' then 1 else 0 end) as ForkEvent_count,\n  SUM(CASE WHEN type = 'GollumEvent' then 1 else 0 end) as GollumEvent_count,\n  SUM(CASE WHEN type = 'IssueCommentEvent' then 1 else 0 end) as IssueCommentEvent_count,\n  SUM(CASE WHEN type = 'IssuesEvent' then 1 else 0 end) as IssuesEvent_count,\n  SUM(CASE WHEN type = 'MemberEvent' then 1 else 0 end) as MemberEvent_count,\n  SUM(CASE WHEN type = 'PublicEvent' then 1 else 0 end) as PublicEvent_count,\n  SUM(CASE WHEN type = 'PullRequestEvent' then 1 else 0 end) as PullRequestEvent_count,\n  SUM(CASE WHEN type = 'PullRequestReviewCommentEvent' then 1 else 0 end) as PullRequestReviewCommentEvent_count,\n  SUM(CASE WHEN type = 'PushEvent' then 1 else 0 end) as PushEvent_count,\n  SUM(CASE WHEN type = 'ReleaseEvent' then 1 else 0 end) as ReleaseEvent_count,\n  SUM(CASE WHEN type = 'WatchEvent' then 1 else 0 end) as WatchEvent_count,\n\n  FROM \n  [githubarchive:year.2018]\nWHERE (actor.login = 'bps10' OR actor.login = 'hadley' AND public)\nGROUP by actor.login;\n\n"

In [138]:
def create_query_from_list(user_list):
    txt = (
    """SELECT  
      actor.login,
      COUNT(type) as event_count, 
      MAX(created_at) as last_event, 
      MIN(created_at) as first_event,
      SUM(CASE WHEN type = 'CommitCommentEvent' then 1 else 0 end) as CommitCommentEvent_count,
      SUM(CASE WHEN type = 'CreateEvent' then 1 else 0 end) as CreateEvent_count,
      SUM(CASE WHEN type = 'DeleteEvent' then 1 else 0 end) as DeleteEvent_count,
      SUM(CASE WHEN type = 'ForkEvent' then 1 else 0 end) as ForkEvent_count,
      SUM(CASE WHEN type = 'GollumEvent' then 1 else 0 end) as GollumEvent_count,
      SUM(CASE WHEN type = 'IssueCommentEvent' then 1 else 0 end) as IssueCommentEvent_count,
      SUM(CASE WHEN type = 'IssuesEvent' then 1 else 0 end) as IssuesEvent_count,
      SUM(CASE WHEN type = 'MemberEvent' then 1 else 0 end) as MemberEvent_count,
      SUM(CASE WHEN type = 'PublicEvent' then 1 else 0 end) as PublicEvent_count,
      SUM(CASE WHEN type = 'PullRequestEvent' then 1 else 0 end) as PullRequestEvent_count,
      SUM(CASE WHEN type = 'PullRequestReviewCommentEvent' then 1 else 0 end) as PullRequestReviewCommentEvent_count,
      SUM(CASE WHEN type = 'PushEvent' then 1 else 0 end) as PushEvent_count,
      SUM(CASE WHEN type = 'ReleaseEvent' then 1 else 0 end) as ReleaseEvent_count,
      SUM(CASE WHEN type = 'WatchEvent' then 1 else 0 end) as WatchEvent_count,

      FROM 
      [githubarchive:year.2018]
    WHERE (actor.login = '""")

    end = ("""' AND public)
    GROUP by actor.login;

    """)

    nusers = len(user_list)
    for i, user in enumerate(user_list):
        if i < nusers - 1:
            txt += user + """' OR actor.login = '""" 
        else:
            txt += user2 + end
    return txt

In [139]:
import numpy as np
users = np.asarray(contrib)[:, 0]

In [145]:
import pandas as pd
user_df = pd.DataFrame(contrib, columns=['login', 'repo_contributions_count'])

                 login  repo_contributions_count
0              charris                      4094
1           teoliphant                      2065
2             cournape                      1525
3                pearu                      1061
4          eric-wieser                       866
5                   pv                       762
6               mwiebe                       759
7         juliantaylor                       745
8             rgommers                       586
9              stefanv                       449
10              seberg                       443
11              mattip                       389
12             njsmith                       339
13           jaimefrio                       255
14          eric-jones                       248
15            ahaldane                       246
16                mhvk                       227
17            pierregm                       199
18               rkern                       190
19              shoyer                       167
20       jarrodmillman                       136
21             jayvius                       127
22        tylerjereddy                        95
23       matthew-brett                        93
24             abalkin                        90
25            larsmans                        64
26                  87                        56
27             cgohlke                        53
28             alexbrc                        52
29              certik                        52
..                 ...                       ...
383           carletes                         1
384            cpelley                         1
385           ChanderG                         1
386          cgwaldman                         1
387     ChloeColeongco                         1
388             ceball                         1
389           claumann                         1
390  christianbrodbeck                         1
391          boeddeker                         1
392            chrodan                         1
393          cagostino                         1
394        chrisdembia                         1
395              lejar                         1
396       klaussfreire                         1
397             congma                         1
398              dagss                         1
399       danielballan                         1
400          carterbox                         1
401           drasmuss                         1
402         darcymeyer                         1
403            davidlt                         1
404            drhagen                         1
405             dalito                         1
406            davidjn                         1
407         ochoadavid                         1
408           schaefed                         1
409          daschaich                         1
410           silenc3r                         1
411        deepakgouda                         1
412         denisalevi                         1

[413 rows x 2 columns]

In [140]:
query = create_query_from_list(users)

In [141]:
job_config = bigquery.QueryJobConfig()
job_config.use_legacy_sql = True
df = client.query(query, location="US", job_config=job_config).to_dataframe()
df

,actor_login,event_count,last_event,first_event,CommitCommentEvent_count,CreateEvent_count,DeleteEvent_count,ForkEvent_count,GollumEvent_count,IssueCommentEvent_count,IssuesEvent_count,MemberEvent_count,PublicEvent_count,PullRequestEvent_count,PullRequestReviewCommentEvent_count,PushEvent_count,ReleaseEvent_count,WatchEvent_count
0,hadley,10734,2019-01-05 23:18:47+00:00,2018-02-01 04:49:54+00:00,50,155,58,8,0,3770,2088,11,1,988,1134,2441,30,0
1,chrisdembia,2554,2018-12-30 14:08:20+00:00,2018-02-01 00:01:06+00:00,38,135,105,7,0,1027,221,0,0,211,264,426,3,117
2,jakirkham,20484,2019-01-05 18:43:32+00:00,2018-02-01 00:03:25+00:00,54,1281,1129,95,0,6547,1300,2,0,2323,1592,6089,33,39
3,rainwoodman,2360,2019-01-05 10:32:00+00:00,2018-02-01 01:32:43+00:00,14,175,104,17,0,467,93,5,0,217,175,1089,2,2
4,nils-werner,301,2019-01-04 17:50:37+00:00,2018-02-09 10:21:56+00:00,2,20,6,16,0,57,20,0,0,19,0,152,0,9
5,Anner-deJong,162,2018-12-02 15:09:43+00:00,2018-02-01 17:19:53+00:00,0,16,0,7,0,6,3,0,0,9,4,111,0,6
6,pizzathief,24,2018-08-07 22:57:58+00:00,2018-06-29 06:21:02+00:00,0,0,0,1,0,0,0,0,0,15,0,8,0,0
7,solarjoe,40,2019-01-05 08:31:33+00:00,2018-02-06 17:33:06+00:00,0,1,0,1,0,19,11,0,0,2,0,2,0,4
8,ajschol,7,2018-11-11 03:48:58+00:00,2018-02-12 06:53:29+00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,7
9,bennorth,24,2018-12-15 21:46:49+00:00,2018-02-26 21:33:16+00:00,0,5,0,1,0,4,1,0,0,1,1,10,0,1
10,jotasi,43,2018-12-01 09:17:00+00:00,2018-02-01 06:25:01+00:00,0,7,6,0,0,11,2,0,0,3,5,9,0,0
11,lxbarth,1,2018-02-24 08:54:22+00:00,2018-02-24 08:54:22+00:00,0,0,0,0,0,0,0,0,0,0,0,1,0,0
12,CAM-Gerlach,4129,2019-01-05 23:55:47+00:00,2018-02-01 01:50:53+00:00,1,166,104,39,35,1809,356,1,0,173,610,828,0,7
13,bastula,553,2019-01-05 00:33:01+00:00,2018-02-01 03:39:05+00:00,0,32,30,11,0,37,13,0,0,36,0,93,0,301
14,wfspotz,297,2018-12-21 19:08:56+00:00,2018-02-01 17:52:57+00:00,0,19,14,1,0,90,44,0,0,38,11,80,0,0
15,dsanders11,603,2018-12-21 19:23:57+00:00,2018-02-02 01:40:14+00:00,3,57,38,43,4,97,32,0,0,82,14,190,0,43
16,matheusportela,69,2019-01-04 01:19:40+00:00,2018-02-01 14:02:43+00:00,0,5,0,1,0,4,1,2,0,0,0,43,0,13
17,cgohlke,385,2019-01-04 18:56:54+00:00,2018-02-16 21:09:23+00:00,1,6,4,23,0,162,17,0,0,33,6,43,0,90
18,aaryapatil,25,2018-11-02 06:04:11+00:00,2018-02-02 05:41:17+00:00,0,3,0,0,0,7,0,0,0,1,2,11,0,1
19,teoliphant,110,2019-01-03 23:59:19+00:00,2018-02-21 17:14:48+00:00,1,11,1,2,5,47,5,5,0,8,0,17,0,8
20,guoci,682,2019-01-05 18:52:07+00:00,2018-02-02 19:51:38+00:00,0,18,9,2,0,19,2,0,0,16,8,606,0,2
21,ddasilva,113,2019-01-05 09:10:00+00:00,2018-02-03 16:45:02+00:00,0,8,0,2,0,22,9,0,1,12,1,15,0,43
22,pv,3741,2019-01-03 16:10:40+00:00,2018-02-01 06:55:24+00:00,1,177,197,2,35,891,195,0,0,384,122,1731,6,0
23,krischer,651,2018-12-12 15:42:24+00:00,2018-02-01 09:04:00+00:00,2,42,30,1,0,199,54,0,1,77,66,178,0,1
24,hensing,122,2018-10-04 15:10:23+00:00,2018-02-01 16:35:16+00:00,0,25,6,1,0,2,1,0,0,17,0,59,8,3
25,luispedro,620,2019-01-04 11:22:57+00:00,2018-02-04 09:59:58+00:00,2,66,10,6,0,79,40,2,0,53,12,342,4,4
26,embray,844,2019-01-04 16:06:19+00:00,2018-02-01 09:43:37+00:00,11,69,22,13,3,387,37,0,0,53,61,176,6,6
27,deniederhut,578,2019-01-04 00:46:09+00:00,2018-02-02 11:54:39+00:00,0,48,33,4,0,198,21,2,0,126,22,121,0,3
28,navytux,710,2018-12-31 10:04:19+00:00,2018-02-06 05:45:07+00:00,10,47,238,5,0,196,12,0,0,40,61,99,0,2
29,astaric,454,2018-12-12 06:55:14+00:00,2018-02-01 20:13:35+00:00,0,23,0,4,6,137,46,6,0,65,62,105,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,abrodkin,755,2019-01-02 17:50:27+00:00,2018-02-01 16:16:22+00:00,2,491,4,9,116,28,6,0,0,10,2,86,1,0
351,pnbat,28,2018-08-01 14:58:55+00:00,2018-02-02 19:12:19+00:00,0,3,1,0,0,15,0,0,0,5,2,2,0,0
352,chebee7i,49,2018-11-17 01:29:41+00:00,2018-02-07 04:55:17+00:00,0,1,0,2,0,24,6,0,0,4,2,6,0,4
353,cpelley,61,2019-01-02 12:22:04+00:00,2018-02-01 21:48:34+00:00,0,5,1,0,0,32,5,0,0,2,0,14,0,2
354,aarchiba,12,2018-08-31 15:53:41+00:00,2018-04-24 07:27:34+00:00,0,3,0,0,0,1,0,0,1,0,1,5,1,0
355,wummo,43,2018-11-27 15:11:10+00:00,2018-05-30 10:41:26+00:00,0,3,1,2,0,5,0,1,0,1,8,21,0,1
356,bobpoekert,111,2019-01-02 21:49:34+00:00,2018-02-03 04:26:09+00:00,0,0,0,1,0,7,6,0,0,0,0,3,0,94
357,wufangjie,15,2018-12-07 06:15:45+00:00,2018-04-10 12:33:30+00:00,0,0,0,0,0,0,0,0,0,0,0,14,0,1
358,chatcannon,10,2018-09-29 16:40:35+00:00,2018-03-16 19:58:33+00:00,0,1,0,1,0,2,1,0,0,2,0,2,0,1
359,bashtage,3393,2019-01-05 22:11:24+00:00,2018-02-01 10:50:46+00:00,3,226,186,1,0,820,125,0,0,300,159,1544,26,3
360,toslunar,3614,2019-01-04 12:04:05+00:00,2018-02-02 10:37:49+00:00,1,330,280,6,0,800,101,0,0,606,370,1117,0,3
361,freakboy3742,1971,2019-01-05 18:30:45+00:00,2018-02-03 15:46:05+00:00,4,129,87,9,0,405,105,1,0,393,217,621,0,0
362,mwtoews,561,2018-12-27 08:13:51+00:00,2018-02-01 00:20:15+00:00,0,56,111,12,13,69,24,0,0,63,28,161,0,24
363,jjhelmus,3881,2019-01-05 23:18:39+00:00,2018-02-01 14:25:10+00:00,4,737,9,77,0,699,111,0,1,293,72,1877,1,0
364,lamby,1610,2019-01-05 18:01:42+00:00,2018-02-01 00:44:41+00:00,30,224,48,53,0,411,102,0,0,117,42,583,0,0
365,mgeier,2027,2019-01-05 16:47:25+00:00,2018-02-01 09:36:46+00:00,1,173,227,19,19,529,97,0,0,204,83,637,11,27
366,andportnoy,802,2019-01-05 22:41:03+00:00,2018-02-04 02:34:50+00:00,0,77,64,14,10,58,91,1,0,103,0,361,8,15
367,sjvs,594,2019-01-02 10:15:42+00:00,2018-02-13 21:00:51+00:00,0,101,0,67,0,137,4,1,0,78,3,201,0,2
368,MSeifert04,529,2019-01-04 21:53:24+00:00,2018-02-07 12:16:50+00:00,0,51,28,6,0,167,20,0,0,48,49,137,6,17
369,tonyo,1438,2018-12-28 15:14:58+00:00,2018-02-13 16:29:06+00:00,0,222,151,6,0,70,11,1,0,183,50,636,77,31
370,fperez,198,2018-12-24 04:30:18+00:00,2018-02-01 05:32:38+00:00,0,1,1,4,2,64,17,0,0,21,2,83,0,3
371,anntzer,6687,2019-01-05 22:55:42+00:00,2018-02-01 01:00:20+00:00,7,556,521,15,0,1789,302,0,0,691,926,1879,1,0
372,charris,5361,2019-01-05 22:45:35+00:00,2018-02-01 15:01:45+00:00,13,231,227,0,2,2364,217,0,0,904,486,906,11,0
373,ElDeveloper,1576,2019-01-04 17:43:56+00:00,2018-02-01 02:50:03+00:00,1,149,5,9,0,318,143,5,0,246,217,462,8,13
374,boeddeker,223,2019-01-04 18:02:35+00:00,2018-02-07 16:19:31+00:00,0,6,2,8,0,58,11,1,0,11,5,101,0,20
375,meowklaski,38,2018-03-28 04:20:21+00:00,2018-02-05 13:02:16+00:00,0,4,3,2,0,10,1,0,0,6,0,10,0,2
376,TwistedHardware,97,2018-12-23 11:00:33+00:00,2018-04-16 11:31:49+00:00,0,2,0,2,0,2,0,0,0,5,0,82,0,4
377,carlkl,40,2018-12-19 11:35:46+00:00,2018-02-19 20:51:54+00:00,0,0,0,1,0,33,5,0,0,0,0,0,0,1
378,chanley,1,2018-05-03 17:54:50+00:00,2018-05-03 17:54:50+00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,1
379,cimarronm,1,2018-10-26 06:05:06+00:00,2018-10-26 06:05:06+00:00,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [152]:
count_columns =  ['CommitCommentEvent_count', 'CreateEvent_count', 'DeleteEvent_count',
                  'ForkEvent_count', 'GollumEvent_count', 'IssueCommentEvent_count',
                  'IssuesEvent_count', 'MemberEvent_count', 'PublicEvent_count', 
                  'PullRequestEvent_count', 'PullRequestReviewCommentEvent_count',
                  'PushEvent_count', 'ReleaseEvent_count', 'WatchEvent_count']

In [159]:
contributors_df = pd.DataFrame(contrib, columns=['login', 'repo_contributions_count'])
contributors_df = contributors_df.merge(df, right_on='actor_login', left_on='login', how='left')
contributors_df[count_columns] = contributors_df[count_columns].fillna(0).astype(int)
contributors_df

,login,repo_contributions_count,actor_login,event_count,last_event,first_event,CommitCommentEvent_count,CreateEvent_count,DeleteEvent_count,ForkEvent_count,GollumEvent_count,IssueCommentEvent_count,IssuesEvent_count,MemberEvent_count,PublicEvent_count,PullRequestEvent_count,PullRequestReviewCommentEvent_count,PushEvent_count,ReleaseEvent_count,WatchEvent_count
0,charris,4094,charris,5361.0,2019-01-05 22:45:35+00:00,2018-02-01 15:01:45+00:00,13,231,227,0,2,2364,217,0,0,904,486,906,11,0
1,teoliphant,2065,teoliphant,110.0,2019-01-03 23:59:19+00:00,2018-02-21 17:14:48+00:00,1,11,1,2,5,47,5,5,0,8,0,17,0,8
2,cournape,1525,cournape,14.0,2018-11-02 08:09:16+00:00,2018-04-21 16:47:14+00:00,0,4,0,0,0,3,0,0,0,0,0,6,0,1
3,pearu,1061,pearu,732.0,2019-01-02 17:25:10+00:00,2018-02-12 17:18:49+00:00,0,22,1,0,0,102,18,0,0,20,141,428,0,0
4,eric-wieser,866,eric-wieser,5580.0,2019-01-05 14:54:23+00:00,2018-02-01 00:38:01+00:00,30,187,28,7,0,2001,177,0,0,321,2273,548,0,8
5,pv,762,pv,3741.0,2019-01-03 16:10:40+00:00,2018-02-01 06:55:24+00:00,1,177,197,2,35,891,195,0,0,384,122,1731,6,0
6,mwiebe,759,mwiebe,8.0,2018-09-03 01:41:51+00:00,2018-08-11 05:08:10+00:00,0,1,0,1,0,3,0,0,0,1,0,1,0,1
7,juliantaylor,745,juliantaylor,299.0,2019-01-02 18:55:44+00:00,2018-02-23 09:11:46+00:00,1,22,11,8,0,130,25,0,0,26,22,52,0,2
8,rgommers,586,rgommers,3208.0,2019-01-05 23:51:40+00:00,2018-02-01 05:37:04+00:00,0,95,74,2,8,1580,233,1,0,390,421,403,1,0
9,stefanv,449,stefanv,3281.0,2019-01-05 22:30:37+00:00,2018-02-01 18:14:45+00:00,0,95,7,9,6,592,80,7,0,155,206,2094,0,30
10,seberg,443,seberg,1013.0,2019-01-05 23:54:28+00:00,2018-02-04 11:12:42+00:00,0,10,9,1,0,634,115,0,0,21,153,70,0,0
11,mattip,389,mattip,3635.0,2019-01-05 21:42:56+00:00,2018-02-11 20:47:25+00:00,1,173,98,9,70,1360,185,0,0,311,743,679,2,4
12,njsmith,339,njsmith,3543.0,2019-01-05 22:35:30+00:00,2018-02-01 03:28:21+00:00,2,218,97,12,15,1772,270,2,0,379,236,522,18,0
13,jaimefrio,255,jaimefrio,317.0,2018-11-29 09:55:34+00:00,2018-02-01 20:33:17+00:00,0,22,20,1,1,86,10,0,0,20,54,102,0,1
14,eric-jones,248,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,ahaldane,246,ahaldane,927.0,2019-01-05 23:48:06+00:00,2018-02-02 18:48:13+00:00,0,60,5,5,0,339,22,0,0,72,159,264,1,0
16,mhvk,227,mhvk,4101.0,2019-01-05 21:43:41+00:00,2018-02-01 14:38:02+00:00,1,159,154,1,0,1311,156,1,0,362,1246,710,0,0
17,pierregm,199,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,rkern,190,rkern,249.0,2019-01-04 18:43:43+00:00,2018-02-05 20:26:00+00:00,0,18,16,2,0,114,19,0,0,29,15,36,0,0
19,shoyer,167,shoyer,4063.0,2019-01-05 23:55:21+00:00,2018-02-01 05:28:26+00:00,5,143,69,12,2,1713,235,0,0,337,884,636,12,15
20,jarrodmillman,136,jarrodmillman,483.0,2019-01-02 17:01:39+00:00,2018-02-01 03:36:08+00:00,0,28,9,3,0,27,8,1,5,32,4,361,2,3
21,jayvius,127,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,tylerjereddy,95,tylerjereddy,2764.0,2019-01-05 23:43:19+00:00,2018-02-03 01:05:30+00:00,1,201,89,11,0,776,71,0,0,256,327,1029,3,0
23,matthew-brett,93,matthew-brett,2706.0,2019-01-05 23:50:21+00:00,2018-02-01 12:17:39+00:00,7,208,4,16,3,820,77,14,0,146,127,1284,0,0
24,abalkin,90,abalkin,350.0,2018-12-03 18:52:13+00:00,2018-02-04 23:31:34+00:00,0,18,6,2,0,111,27,0,0,51,10,125,0,0
25,larsmans,64,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,87,56,87,1.0,2018-09-04 16:02:41+00:00,2018-09-04 16:02:41+00:00,0,0,0,1,0,0,0,0,0,0,0,0,0,0
27,cgohlke,53,cgohlke,385.0,2019-01-04 18:56:54+00:00,2018-02-16 21:09:23+00:00,1,6,4,23,0,162,17,0,0,33,6,43,0,90
28,alexbrc,52,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29,certik,52,certik,18328.0,2019-01-05 23:41:38+00:00,2018-02-01 00:01:57+00:00,0,32,21,6,0,308,59,0,0,60,41,17745,0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,carletes,1,carletes,169.0,2018-12-20 13:40:09+00:00,2018-02-06 17:35:10+00:00,1,33,4,4,0,12,3,0,0,3,2,68,0,39
384,cpelley,1,cpelley,61.0,2019-01-02 12:22:04+00:00,2018-02-01 21:48:34+00:00,0,5,1,0,0,32,5,0,0,2,0,14,0,2
385,ChanderG,1,ChanderG,188.0,2018-12-28 03:35:01+00:00,2018-02-01 05:22:43+00:00,0,18,0,3,10,7,7,0,0,2,0,74,0,67
386,cgwaldman,1,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
387,ChloeColeongco,1,ChloeColeongco,121.0,2018-08-10 20:18:09+00:00,2018-03-22 18:19:31+00:00,0,0,0,2,0,4,0,0,0,2,0,113,0,0
388,ceball,1,ceball,3384.0,2019-01-05 16:12:29+00:00,2018-02-02 22:28:14+00:00,6,539,50,11,10,481,225,0,0,321,69,1658,12,2
389,claumann,1,claumann,2.0,2018-09-02 21:47:13+00:00,2018-08-28 23:59:05+00:00,0,0,0,1,0,1,0,0,0,0,0,0,0,0
390,christianbrodbeck,1,christianbrodbeck,789.0,2018-12-22 00:46:07+00:00,2018-02-02 17:34:27+00:00,7,55,27,7,32,141,9,0,0,39,56,408,2,6
391,boeddeker,1,boeddeker,223.0,2019-01-04 18:02:35+00:00,2018-02-07 16:19:31+00:00,0,6,2,8,0,58,11,1,0,11,5,101,0,20
392,chrodan,1,chrodan,9.0,2018-03-28 19:13:34+00:00,2018-02-25 00:22:59+00:00,1,0,0,2,0,0,1,0,0,2,0,3,0,0
393,cagostino,1,cagostino,92.0,2018-12-06 17:18:38+00:00,2018-02-12 03:41:29+00:00,0,8,6,3,0,10,2,1,0,20,7,35,0,0
394,chrisdembia,1,chrisdembia,2554.0,2018-12-30 14:08:20+00:00,2018-02-01 00:01:06+00:00,38,135,105,7,0,1027,221,0,0,211,264,426,3,117
395,lejar,1,lejar,54.0,2018-11-30 20:14:58+00:00,2018-07-08 12:12:16+00:00,0,6,0,2,0,11,2,0,0,2,0,26,3,2
396,klaussfreire,1,klaussfreire,527.0,2018-12-27 17:37:45+00:00,2018-02-01 01:34:53+00:00,5,34,26,0,0,18,1,0,0,53,242,148,0,0
397,congma,1,congma,104.0,2018-12-06 08:54:15+00:00,2018-02-05 13:59:41+00:00,0,21,2,1,0,4,2,0,0,1,0,69,0,4
398,dagss,1,dagss,83.0,2019-01-04 20:56:24+00:00,2018-03-13 11:32:50+00:00,1,10,1,1,5,11,0,1,0,20,4,29,0,0
399,danielballan,1,danielballan,4860.0,2019-01-05 08:50:16+00:00,2018-02-01 14:31:20+00:00,9,338,215,20,0,1119,266,11,1,616,460,1804,0,1
400,carterbox,1,carterbox,724.0,2019-01-04 23:31:50+00:00,2018-02-02 01:11:09+00:00,3,72,50,4,3,121,46,3,0,62,54,295,3,8
401,drasmuss,1,drasmuss,1319.0,2019-01-04 21:13:08+00:00,2018-02-01 16:12:24+00:00,6,120,67,1,0,153,44,0,0,79,74,768,7,0
402,darcymeyer,1,darcymeyer,97.0,2018-11-11 13:30:01+00:00,2018-02-02 22:02:07+00:00,0,5,0,3,0,3,4,3,0,10,0,55,0,14
403,davidlt,1,davidlt,136.0,2018-12-19 23:06:41+00:00,2018-02-02 02:36:46+00:00,2,20,0,8,0,24,2,0,0,5,2,17,0,56
404,drhagen,1,drhagen,130.0,2019-01-04 14:45:50+00:00,2018-02-13 01:45:01+00:00,0,11,2,1,0,30,19,0,0,5,6,50,6,0
405,dalito,1,dalito,25.0,2018-11-27 11:04:34+00:00,2018-02-07 15:15:39+00:00,0,0,0,0,0,22,3,0,0,0,0,0,0,0
406,davidjn,1,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0
407,ochoadavid,1,ochoadavid,16.0,2018-12-10 02:05:40+00:00,2018-05-24 22:06:45+00:00,1,6,0,1,0,3,2,0,0,1,0,2,0,0
408,schaefed,1,schaefed,32.0,2018-10-22 20:40:44+00:00,2018-02-01 10:23:14+00:00,0,1,0,1,0,2,0,0,0,2,0,19,0,7
409,daschaich,1,daschaich,212.0,2018-12-14 15:50:21+00:00,2018-02-03 12:09:02+00:00,2,0,0,0,0,2,0,0,0,4,0,197,0,7
410,silenc3r,1,silenc3r,123.0,2018-12-22 15:49:48+00:00,2018-03-01 21:32:39+00:00,0,19,4,5,0,14,7,0,0,8,0,61,0,5
411,deepakgouda,1,deepakgouda,186.0,2018-12-31 13:36:30+00:00,2018-02-02 06:45:01+00:00,0,14,2,10,0,16,0,0,2,36,5,39,0,62
412,denisalevi,1,NaN,NaN,NaT,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [2]:
h.get_repo_contrib_history(gh, client, 'numpy', 'numpy')

UnboundLocalError: local variable 'count_columns' referenced before assignment